.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.406);
}

.modal {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 70%;
  height: 85%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 99999;
  animation: slide-down 300ms ease-out forwards;
  margin: 0 auto;
  overflow: hidden;
  /* overflow: hidden; */
}
/* Stylowanko dalej 10.05.2024  */
.content {
  display: grid;
  grid-template-columns: minmax(300px, 50%) minmax(300px, 50%);
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
}
.postPicture {
  grid-column: 1/2;
  border: 1px solid lime;
}
.postImage {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.userPicture {
  border: 1px solid black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
}
.userImg {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  object-fit: cover;
}
.userPictureContainer {
  display: flex;
  place-items: center;
  gap: 1.3rem;
  border: 1px solid red;
}
.previewPostInfo {
  grid-column: 2/3;
  display: grid;
  border: 1px solid black;
  grid-template-rows:
    minmax(auto, 10ch) minmax(auto, 10rem) minmax(auto, 5rem) minmax(auto, 3rem)
    minmax(auto, 7rem);
}
.username {
  font-weight: bolder;
}
.postTitle {
  display: flex;
  place-items: center;
  gap: 0.5rem;
}
.likes {
  border: 1px solid green;
  font-weight: bold;
}
.buttons {
  display: flex;
  place-items: center;
  gap: min(1.3rem);
}
.comments {
  border: 1px solid blue;
}
