.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;

  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 5vw;
  right: 20vw;
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 99999;
  animation: slide-down 300ms ease-out forwards;
  margin: 0 auto;
  /* overflow: hidden; */
}
.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(auto, 500px);
  padding-left: 5rem;
}
.form {
  grid-template-rows: minmax(0, 8ch) minmax(0, 20ch) minmax(10%, 30%);
  padding: 1.5rem;
}
.textField {
  grid-row: 2;
  grid-column: 1/-1;
  resize: none;
}
.textField:focus {
  outline: none;
}
.user__container {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .form {
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
  }
  .textField {
    grid-column: 1/-1;
    grid-row: 2;
  }
  .addPostImage {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
  }
  .user__container {
    justify-self: start;
    align-self: center;
    font-weight: bold;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
