.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;

  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 5vw;
  right: 20vw;
  width: 50%;
  height: 75%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 99999;
  animation: slide-down 300ms ease-out forwards;
  margin: 0 auto;
  /* overflow: hidden; */
}
.content {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(1fr, 200px);
  grid-template-rows: minmax(0, 1fr);
  place-items: center;
  height: 100%;
}
.form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.textField {
  grid-row: 2;
  grid-column: 1/-1;
  resize: none;
border: 0.3px solid black;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 0.4rem 0 0 0.2rem;
}
.textField:focus {
  outline: none;
}
.user__container {
  display: flex;
  gap: 0.5rem;
  place-items: center;
}
.userImgPictureBox {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  overflow: hidden;

  border: 0.5px solid slategray;
}
.userImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .modal {
    width: 85%;
    height: 80%;
    right: 5vw;
  }
  .form {
    grid-template-rows: minmax(0, 8ch) minmax(0, 20ch) minmax(10%, 30%);
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
  }
  .textField {
    grid-column: 1/-1;
    grid-row: 2;
  }
  .addPostImage {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
  }
  .user__container {
    justify-self: start;
    align-self: center;
    font-weight: bold;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
