.ja {
  position: absolute;
  left: 25%;
  max-width: 320px;
  min-height: 200px;
  height: auto;
  width: 100%;
  z-index: -1;
}
.milosz {
  position: absolute;
  left: 25.5%;
  max-width: 290.5px;
  min-height: 550px;
  height: 31.5vh;
  width: 100%;
  z-index: -1;
}
