.loginContainer{
  background-color: #fafafa;
  border: 0.5px solid black;
  position: relative;
}
.loginForm {
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    width: 100%;
}
.logoContainer {
  width: 400px;
  height:75px;
  align-self: center;

}
.logo{
    width:100%;
    height:100%;
}
.login::before {
  position: absolute;
  content: "login";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}
label {
  pointer-events: none;
  position: absolute;
  left: 0;
  transform: translateY(5px);
  transition: all ease-in 200ms;

  font-size: 1.5px;
  color: #999;
  padding-top: 2px;
  z-index: 10000;
}
.loginField {
  margin: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap:15px;
  font-size: 12px;
  text-overflow: ellipsis;


}
input:not(:placeholder-shown) + label {
    transform: translateY(-5px);
    font-size: 14px;
    transition: all ease-in 200ms;

}

input:not(:placeholder-shown) {
  padding-top: 24px;
  padding-bottom: 4px;
}

input::placeholder {
  visibility: hidden;
}
input::placeholder {
  visibility: hidden;
}

/* hiding  placeholder in mozilla */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: transparent;
}
.loginInput {
    padding: 0.75rem 1rem;
    width: 100%;
  font-size: 1.125rem;
  border-radius: 3px;
  border-bottom: 1px solid #efefef;
}
.loginInput:focus {
  outline: none;
}
.signIn {
  display: grid;
  place-self: center;
  width: 100%;
  text-decoration: none;
  background: #04aa6d; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}
