.login {
  background-color: #fafafa;
  border: 0.5px solid black;
  position: relative;
}
.loginForm {
  display: grid;
  grid-template-rows: minmax(0, 20ch) minmax(0, 1fr) minmax(0, 5ch);
}
.logoContainer {
  width: 100%;
  align-self: center;
}
.logo {
  grid-row: 1/2;
  place-self: center;
}
.inputs {
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
.login::before {
  position: absolute;
  content: "login";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}
/* label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-bottom: 10px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 14px;
  color: #999;
  padding-top: 2px;
  z-index: 10000;
} */
.loginField {
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  text-overflow: ellipsis;
  place-self: center;
}
/* label final position */
/* input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
} */

/* input padding increases if placeholder is not shown */
/* input:not(:placeholder-shown) {
  padding-top: 23px;
  padding-bottom: 10px;
}

input::placeholder {
  visibility: hidden;
}
input::placeholder {
  visibility: hidden;
} */

/* hiding  placeholder in mozilla */
/* input::-moz-placeholder,
textarea::-moz-placeholder {
  color: transparent;
} */
.loginInput {
  padding: 0.5rem 1rem;
  font-size: 12px;
  outline: none;
  border-radius: 3px;
  border-bottom: 1px solid #efefef;
  background-color: #f3f4f6;
}
.loginInput:focus {
  outline: none;
}
.signIn {
  display: grid;
  place-self: center;
  width: 100%;
  border: 1px solid black;
  text-decoration: none;
  background: #04aa6d; /* Green */
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}
.loginButtonsContainer {
}
